! Startup-config
!
frr version 10.4.1_git
frr defaults traditional
!
hostname {{hostname}}
!
domainname localdomain
log syslog informational
service integrated-vtysh-config
service ssh
!
{% if password and password != False -%}
username {{username}} secret {{password}}
{% else -%}
username {{username}} nopassword
{% endif -%}
!
line vty
    login local
    transport input ssh
!
{# ============= Interfaces ========================================== -#}
{% if interfaces -%}
{% for int in interfaces -%}
interface {{int.name}}
    {% if int.ipv4 %}
    ip address {{int.ipv4}}
    {% endif -%}
    {% if int.description %}
    description {{int.description}}
    {% endif %}
    no shutdown
    {% if int.switchport == False %}
    no switchport
    {% endif -%}
!
{% endfor -%}
{% endif -%}
!
{# ============= BGP ========================================== -#}
{% if bgp -%}
router bgp {{bgp.AS}}
    bgp router-id {{bgp.ID}}
{% for nb in bgp.neighbors -%}
    {% if nb.AS %}
    neighbor {{nb.ipv4}} remote-as {{nb.AS}}
    {% if bgp.lo_eBGP %}
    neighbor {{nb.ipv4}} update-source {{bgp.lo}}
    {% endif -%}
    {% else %}
    neighbor {{nb.ipv4}} remote-as {{bgp.AS}}
    neighbor {{nb.ipv4}} next-hop-self
    {% if bgp.lo_iBGP %}
    neighbor {{nb.ipv4}} update-source {{bgp.lo}}
    {% endif -%}
    {% endif -%}
{% endfor -%}
{% for net in bgp.networks %}
    network {{net.prefix}} mask {{net.mask}}
{% endfor %}
    no bgp ebgp-requires-policy
    no bgp network import-check
{% endif -%}
!
{% for nb in bgp.neighbors -%}
clear ip bgp {{nb.ipv4}} soft in
{% endfor -%}
!
{# ============= OSPF ========================================== -#}
{% if ospf -%}
router ospf
    router-id {{ospf.router_id}}
    {% for net in ospf.networks -%}
    network {{net.network}} area {{net.area}}
    {% endfor %}
!
{% for pi in ospf.passive_interfaces -%}
interface {{pi}}
    ip ospf passive
{% endfor -%}
{% endif -%}
{% if ipv4_routes -%}
{% for route in ipv4_routes -%}
ip route {{route.destination}} {{route.next_hop}}
{% endfor -%}
!
{% endif -%}
{% if ipv6_routes -%}
{% for route in ipv6_routes -%}
ipv6 route {{route.destination}} {{route.next_hop}}
{% endfor -%}
!
{% endif -%}
{% if routing_enabled and routing_enabled == True -%}
ip routing
!
{% else -%}
no ip routing
!
{% endif -%}
end
